$black-color: #000;
$white-color: #fff;

$twitter-blue-color: #00aced;

$dark-blue: #273043;

$light-grey: #F6F7EB;
$text-color-main: #0C0909;

$accent-color-1: #D33F49;
$accent-color-2: #9B287B;

$box-shadow-color: rgba(242, 243, 234, 1);